infra/step_function/state_machine.json
{
  "StartAt": "FetchMetadata",
  "States": {
    "FetchMetadata": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-west-3:113942929526:function:sec-fetch-metadata",
      "Next": "HasMetadata"
    },
    "HasMetadata": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.urls",
          "IsPresent": true,
          "Next": "SaveState"
        }
      ],
      "Default": "Stop"
    },
    "SaveState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-west-3:113942929526:function:sec-save-state",
      "Next": "FetchAndSave"
    },
    "FetchAndSave": {
      "Type": "Map",
      "ItemsPath": "$.data",
      "Parameters": {
        "data.$": "$$.Map.Item.Value",
        "date.$": "$.date"
      },
      "MaxConcurrency": 1,
      "Iterator": {
        "StartAt": "FetchData",
        "States": {
          "FetchData": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-3:113942929526:function:sec-fetch-data",
            "Next": "SaveData"
          },
          "SaveData": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-3:113942929526:function:test-step-parallel",
            "End": true
          }
        }
      },
      "Next": "Stop"
    },
    "Stop": {
      "Type": "Succeed"
    }
  }
}